<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include ('partials/header.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>
    
    <div class="container" style="margin-top: 100; padding-bottom: 100;">
      <header class="row" >
        <div class="col-lg-12 text-center">
          <img src="/img/perro-bebito.png"  class="animate__animated animate__bounceIn" alt="Baby Yoda tu pastor" width="30%">
        </div>
      </header>
    </div>
    
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
          <div class="col-sm-6 row-sm-3">
            <a href="https://www.youtube.com/watch?v=1fYARKdIR90" style='text-decoration:none;color:inherit'>
              <i class="fab fa-youtube fa-10x"></i>
            </a>
            <h3>Watch on YouTube!</h3>
          </div>
          <div class="col-sm-6">
            <h3>The most iconic creature of Star Wars</h3>
            <p>El Niño, llamado normalmente como Bebé Yoda por los fanáticos y los medios de comunicación, es un personaje ficticio
              de la serie de televisión original de Star Wars de Disney+ El Mandaloriano. Es miembro de la misma especie que Yoda,
              un personaje popular de las películas de La Guerra de las Galaxias (Star Wars)y de Yaddle, conocida de Yoda,
              (apariciones en cómics). Es el único personaje además del protagonista que aparece en los ocho episodios de la serie.
              El Niño fue bien recibido por el público y rápidamente se convirtió en un meme de Internet y un personaje innovador.</p>
          </div>
      </div> 
    </div>  
    <%- include ('partials/footer.html')%>
  </body>

</html>