<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EL PERRO BEBITO NO INTERPRETA EJS! </title>
    <link href='https://fonts.googleapis.com/css?family=Staatliches' rel='stylesheet'>
      
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--FONTAWESOME 5.8.1-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Staatliches' rel='stylesheet'>
    <!--CSS ANIMATE-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">    
        <%- include ('partials/header.html')%>

</head>
<body>
    //<%- include ('partials/navigation.html')%>
    
    <style>
        h1{font-family: 'Staatliches'; vertical-align: middle; font-size: 32;}
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">LUCKY'S WEBSITE PROTOTYPE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/nosotros">Nosotros</a>
                    <a class="nav-item nav-link" href="/quiz">Encuesta</a>
                    <a class="nav-item nav-link" href="/contacto">Contacto</a>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid" style="margin-top: 100; padding-bottom: 100;">
      <header class="row" >
        <div class="col-lg-12 text-center">
          <img src="/perro-bebito.png"  class="animate__animated animate__bounceIn" alt="rata china" width="50%">
        </div>
      </header>
    </div>
    
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
          <div class="col-sm-6 row-sm-3 justify-content-center align-self-center">
            <a href="https://www.youtube.com/watch?v=WctTP7wqMX0" style='text-decoration:none;color:inherit'>
              <i class="fab fa-youtube fa-10x"></i>
            </a>
            <h3>Watch on YouTube!</h3>
            
          </div>
          
          <div class="col-sm-6">
            <h3>The best partner</h3>
            <p>The Shih Tzu is a sturdy little dog with a short muzzle and large dark brown eyes. They have a soft and long double coat. Although sometimes long,
               a Shih Tzu will not always have extremely lengthy hair like the Pekingese (but with short legs). 
               Some of them have more short, curly hair. This is purely a choice made by the owners. 
               A Shih Tzu should stand no more than 26.7 cm at the withers and with an ideal weight of 4.5 to 7.3 kg. 
               Floppy ears are covered with long fur, and the heavily furred tail is carried curled over the back. The coat may be of any color, though 
               white and with blazes of grey are frequently seen. A very noticeable feature is the underbite, which is required in the breed standard.
            </p>
            <p>
               The traditional long silky coat, which tends to reach the floor, requires daily brushing to avoid tangles. Because of their long coat and fast-growing hair,
               regular grooming is necessary, which may be expensive and should be taken into account when considering adopting one of this breed. Often, the coat is clipped 
               short to simplify care, but the coat still requires daily brushing. For conformation showing, the coat must be left in its natural state, though trimming for 
               neatness around the feet and anus is allowed. The shorter cut is typically called a "puppy cut" or a "teddy bear cut" when the puppy 
               cut is accompanied by a fuller, rounder face, resembling a cute and cuddley stuffed animal.
            </p>
          </div>
      </div> 
    </div>  
    <div>
        <img src="/lucky01.jpg"  class="" alt="rata mostrada" width="100%">
    </div>
    <div>
        <img src="/img/lucky02.jpg"  class="" alt="rata failed" width="100%">
    </div>
    <div class="container text-center">
        <img src="/perro-bebito.png"  class="animate__animated animate__bounceIn" alt="Baby Yoda tu pastor" width="60%">
    </div>
    <script>
        const ejs = require ('ejs');
        ejs.render("<%- include('/partials/footer.html') %>");
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>     
</body>   
</html>
